<h1 class="text-center mt-4 mb-4">Productos</h1>
<input type="hidden" id="carritoId" value="{{cartId}}">
<div class="container">
    {{#each productos}}
    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">ID: {{_id}}</p>
            <p class="card-text">{{description}}</p>
            <p class="card-text">Precio: ${{price}}</p>
            <p class="card-text">Categoría: {{category}}</p>
            <button class="btn btn-violeta" onclick="agregarAlCarrito('{{_id}}')">Agregar al Carrito</button>
        </div>
    </div>
    {{/each}}
</div>

{{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}" class="btn btn-rosa">Anterior</a>
{{/if}}
{{#if hasNextPage}}
    <a href="/products?page={{nextPage}}" class="btn btn-rosa">Siguiente</a>
{{/if}}

<p class="text-center">Página {{currentPage}} de {{totalPages}}</p>


<!-- Modal -->
<div class="modal fade" id="agregarCarritoModal" tabindex="-1" role="dialog" aria-labelledby="agregarCarritoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarCarritoModalLabel">Agregar Producto al Carrito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="productId">
                <div class="form-group">
                    <label for="cantidad">Cantidad</label>
                    <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad" value="1">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-violeta" onclick="confirmarAgregarAlCarrito()">Agregar</button>
            </div>
        </div>
    </div>
</div>

<script>
   async function agregarAlCarrito(productId) {
    document.getElementById('productId').value = productId;

    try {
        $('#agregarCarritoModal').modal('show');
    } catch (error) {
        console.error('Error al mostrar el modal:', error);
        alert(`Error al mostrar el modal: ${error.message}`);
    }
}

async function confirmarAgregarAlCarrito() {
    const productId = document.getElementById('productId').value;
    const carritoId = document.getElementById('carritoId').value;  // Asegúrate de que este ID esté definido correctamente
    const cantidad = document.getElementById('cantidad').value;
    try {
        const response = await fetch(`/api/carts/${carritoId}/product/${productId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: cantidad })
        });

        const result = await response.json();
        if (response.ok) {
            alert('Producto agregado al carrito exitosamente');
            $('#agregarCarritoModal').modal('hide');
        } else {
            alert(result.error || 'Error al agregar el producto al carrito');
        }
    } catch (error) {
        console.error('Error:', error);
        alert('Error al agregar el producto al carrito');
    }
}

</script>
